<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock %}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta %}
        <meta name="author" content="{{ AUTHOR }}" />
    {% endblock %}

    <title>{% block title %}{{ SITENAME }}{% endblock %}</title>

    <!-- Once upon a time, favicons were a simple race; but then they grew to be greedy... -->
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png?v=3">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png?v=3">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png?v=3">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png?v=3">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png?v=3">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png?v=3">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png?v=3">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png?v=3">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png?v=3">
    <link rel="icon" type="image/png" href="/favicon-32x32.png?v=3" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-194x194.png?v=3" sizes="194x194">
    <link rel="icon" type="image/png" href="/favicon-96x96.png?v=3" sizes="96x96">
    <link rel="icon" type="image/png" href="/android-chrome-192x192.png?v=3" sizes="192x192">
    <link rel="icon" type="image/png" href="/favicon-16x16.png?v=3" sizes="16x16">
    <link rel="manifest" href="/manifest.json?v=3">
    <link rel="mask-icon" href="/safari-pinned-tab.svg?v=3" color="#5bbad5">
    <meta name="apple-mobile-web-app-title" content="studyforrest">
    <meta name="application-name" content="studyforrest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png?v=3">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="/theme/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/theme/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/theme/css/forrest.css" />
    {% block CSS_EXTRA %}{% endblock %}

    <link rel="license" hreflang="en" href="{{ SITEURL }}/copyright.html" />

    {% if FEED_ALL_ATOM %}
        <link href="{{ SITEURL }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate"
              title="{{ SITENAME }} ATOM Feed"/>
    {% endif %}

    <script src="/theme/js/jquery.min.js"></script>

    {% block head_suffix %}{% endblock %}
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="{{ SITEURL }}/" class="navbar-brand">{{ SITENAME }}</a>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
      {% for title, link in MENUITEMS %}
        <li {% if page and page.url == link %} class='active' {% endif %}>
          <a href="{{ SITEURL }}/{{ link }}">{{ title }}</a>
        </li>
      {% endfor %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <form class="input-group navbar-search" action="{{ SITEURL }}/search.html" role="search">
            <input id="tipue_search_input" class="form-control" aria-label="Search"
                   type="search" placeholder="Search" name="q">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-default" aria-label='Search'>
                <span class="fa fa-search"></span>
              </button>
            </span>
          </form>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav><!-- /.navbar -->

{% block topcontent %}{% endblock %}

<main class="container">
  {% block content %}{% endblock %}
</main><!-- /.container -->

{% include 'includes/footer.html' %}

<script src="/theme/js/bootstrap.min.js"></script>
{% include 'includes/google_analytics.html' %}
{% block scripts %}{% endblock %}
</body>
</html>
