{% extends "base.html" %}
{% block title %}{{ page.title }} - {{ SITENAME }}{% endblock %}
{% block html_lang %}{{ page.lang }}{% endblock %}
{% block meta %}
    {% if page.author %}
        <meta name="author" content="{{ page.author }}" />
    {% else %}
        <meta name="author" content="{{ AUTHOR }}" />
    {% endif %}
    {% if page.summary %}
        <meta name="description" content="{{ page.summary|striptags|escape }}" />
    {% endif %}
{% endblock %}

{% block CSS_EXTRA %}
{% if page.stylesheets %}
    {% for stylesheet in page.stylesheets %}
        {{ stylesheet }}
    {% endfor %}
{% endif %}
{% endblock %}

{% block content %}
    <section id="content" class="body">
        <h1 class="entry-title">{{ page.title }}</h1>
        <div class="entry-content">
            {{ page.content }}
        </div>
    </section>
{% endblock %}

{% block scripts %}
{% if page.javascripts %}
    {% for javascript in page.javascripts %}
        {{ javascript }}
    {% endfor %}
{% endif %}
{% if ADDTHIS_PROFILE %}
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid={{ ADDTHIS_PROFILE }}"></script>
{% endif %}
{% endblock %}
