{% extends "page.html" %}

{% block topcontent %}
 <!-- papaya -->
 <link rel="stylesheet" type="text/css" href="/css/papaya/base.css" />
 <link rel="stylesheet" type="text/css" href="/css/papaya/ui/toolbar.css" />
 <link rel="stylesheet" type="text/css" href="/css/papaya/ui/menu.css" />
 <link rel="stylesheet" type="text/css" href="/css/papaya/ui/dialog.css" />
 <link rel="stylesheet" type="text/css" href="/css/papaya/utilities/nojs.css" />
 <link rel="stylesheet" type="text/css" href="/css/papaya/utilities/unsupported.css" />
 <link rel="stylesheet" type="text/css" href="/css/papaya/viewer/viewer.css" />
 <script type="text/javascript" src="/js/papaya/constants.js"></script>
 <script type="text/javascript" src="/js/papaya/core/coordinate.js"></script>
 <script type="text/javascript" src="/js/papaya/core/point.js"></script>
 <script type="text/javascript" src="/js/papaya/volume/header.js"></script>
 <script type="text/javascript" src="/js/papaya/volume/imagedata.js"></script>
 <script type="text/javascript" src="/js/papaya/volume/imagedescription.js"></script>
 <script type="text/javascript" src="/js/papaya/volume/imagedimensions.js"></script>
 <script type="text/javascript" src="/js/papaya/volume/imagerange.js"></script>
 <script type="text/javascript" src="/js/papaya/volume/imagetype.js"></script>
 <script type="text/javascript" src="/js/papaya/volume/orientation.js"></script>
 <script type="text/javascript" src="/js/papaya/volume/transform.js"></script>
 <script type="text/javascript" src="/js/papaya/volume/volume.js"></script>
 <script type="text/javascript" src="/js/papaya/volume/voxeldimensions.js"></script>
 <script type="text/javascript" src="/js/papaya/volume/voxelvalue.js"></script>
 <script type="text/javascript" src="/js/papaya/volume/nifti/header-nifti.js"></script>
 <script type="text/javascript" src="/js/papaya/volume/nifti/nifti.js"></script>
 <script type="text/javascript" src="/js/papaya/viewer/colortable.js"></script>
 <script type="text/javascript" src="/js/papaya/viewer/display.js"></script>
 <script type="text/javascript" src="/js/papaya/viewer/preferences.js"></script>
 <script type="text/javascript" src="/js/papaya/viewer/screenslice.js"></script>
 <script type="text/javascript" src="/js/papaya/viewer/screenvol.js"></script>
 <script type="text/javascript" src="/js/papaya/viewer/viewer.js"></script>
 <script type="text/javascript" src="/js/papaya/ui/dialog.js"></script>
 <script type="text/javascript" src="/js/papaya/ui/menu.js"></script>
 <script type="text/javascript" src="/js/papaya/ui/menuitem.js"></script>
 <script type="text/javascript" src="/js/papaya/ui/menuitemcheckbox.js"></script>
 <script type="text/javascript" src="/js/papaya/ui/menuitemfilechooser.js"></script>
 <script type="text/javascript" src="/js/papaya/ui/menuitemrange.js"></script>
 <script type="text/javascript" src="/js/papaya/ui/menuitemslider.js"></script>
 <script type="text/javascript" src="/js/papaya/ui/menuitemspacer.js"></script>
 <script type="text/javascript" src="/js/papaya/ui/toolbar.js"></script>
 <script type="text/javascript" src="/js/papaya/main.js"></script>
 <script type="text/javascript" src="/js/papaya/utilities/base64-binary.js"></script>
 <script type="text/javascript" src="/js/papaya/utilities/browser.js"></script>
 <script type="text/javascript" src="/js/papaya/utilities/gunzip.js"></script>
 <script type="text/javascript" src="/js/papaya/utilities/numerics.js"></script>
 <script type="text/javascript" src="/js/papaya/utilities/platform.js"></script>
 <script type="text/javascript" src="/js/papaya/utilities/utilities.js"></script>
{% endblock topcontent %}
