[submodule "papaya"]
	path = papaya
	url = https://github.com/rii-mango/Papaya.git
	branch = master
[submodule "pelican-plugins"]
	path = pelican-plugins
	url = https://github.com/getpelican/pelican-plugins
	branch = master
