[submodule "papaya"]
	path = papaya
	url = https://github.com/rii-mango/Papaya.git
[submodule "dygraphs"]
	path = dygraphs
	url = https://github.com/danvk/dygraphs.git
[submodule "pelican-bootstrap3"]
	path = pelican-bootstrap3
	url = https://github.com/hanke/pelican-bootstrap3
