{% extends "base.html" %}
{% block title %}{{ article.title|striptags }} - {{ SITENAME }}{% endblock %}
{% block html_lang %}{{ article.lang }}{% endblock %}
{% block meta %}
    {% if article.author %}
        <meta name="author" content="{{ article.author }}" />
    {% else %}
        <meta name="author" content="{{ AUTHOR }}" />
    {% endif %}
    {% if article.tags %}
        <meta name="keywords" content="{{ article.tags|join(',')|striptags }}" />
    {% endif %}
    {% if article.summary %}
        <meta name="description" content="{{ article.summary|striptags|escape }}" />
    {% endif %}
{% endblock %}

{% block extra_headers %}
  {% if article.stylesheets %}
    {% for stylesheet in article.stylesheets %}
      {{ stylesheet }}
    {% endfor %}
  {% endif %}
  {% if article.javascripts %}
    {% for javascript in article.javascripts %}
      {{ javascript }}
    {% endfor %}
  {% endif %}
{% endblock %}

{% block content %}
  <section>
    <article>
      <header>
        <h1><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h1>
      </header>
      <footer class="post-info">
        <time datetime="{{ article.date.isoformat() }}"> {{ article.locale_date }}</time>
        {% if article.tags %}
          &mdash;
          {% for tag in article.tags %}
            <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
            {% if not loop.last %} / {% endif %}
          {% endfor %}
        {% endif %}
      </footer>
      {{ article.content }}
    </article>
  </section>
{% endblock %}
