<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock %}" itemscope itemtype="http://schema.org/Blog">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block meta %}
  <meta name="author" content="{{ AUTHOR }}" />
  {% endblock %}

  <title>{% block title %}{{ SITENAME }}{% endblock %}</title>

  <!-- Once upon a time, favicons were a simple race; but then they grew to be greedy... -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v4">
  <link rel="icon" type="image/png" href="/favicon-32x32.png?v4" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon-16x16.png?v4" sizes="16x16">
  <link rel="manifest" href="/manifest.json?v4">
  <link rel="mask-icon" href="/safari-pinned-tab.svg?v4" color="#5bbad5">
  <link rel="shortcut icon" href="/favicon.ico?v4">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="/theme/css/style.css" />

  <link type="text/html" rel="license" href="/copyright.html" />
  <link type="text/plain" rel="author" href="/humans.txt" />

  {% if FEED_ALL_ATOM %}
  <link href="{{ SITEURL }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} ATOM Feed"/>
  {% endif %}

  <script src="/theme/js/jquery.min.js"></script>

  {% block extra_header %}{% endblock %}
</head>
<body>
  <nav>
    <div>
      <ul>
      {% for title, link in MENUITEMS %}
        {% if page and page.url == link %}{% set link_class = "class='active'" %}{% endif %}
        <li><a href="{{ link }}" {{ link_class }}>{{ title }}</a></li>
      {% endfor %}
      </ul>
      <form action="{{ SITEURL }}/search.html" role="search">
        <input id="tipue_search_input" aria-label="Search" type="search" placeholder="Search" name="q"><button type="submit" aria-label='Search'><span class="icon-search"></span></button>
      </form>
    <div>
  </nav>

  {% block topcontent %}{% endblock %}

  <main class="container">
    {% block content %}{% endblock %}
  </main><!-- /.container -->

  <footer>
    <ul class='social-links'>
      <li>
        <a class="icon-github" href='https://github.com/psychoinformatics-de?q=studyforrest' aria-label='studyforrest @ GitHub'></a>
      </li>
      <li>
        <a class="icon-twitter" href='https://twitter.com/studyforrest' aria-label='studyforrest @ Twitter'></a>
      </li>
    </ul>

    <p><small>
      content licensed <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">cc-by-sa</a>
      <span class='break'>&mdash;</span> <span class="icon-copyright"></span>2014–2017 {{ AUTHOR }} <span class='break'>&mdash;</span>
      unless <a rel="license" href='/copyright.html'>indicated otherwise</a>
    </small></p>
  </footer>
</body>
</html>
