<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block meta %}
  <meta name="author" content="{{ AUTHOR }}" />
  {% endblock %}
  <title>{{ SITENAME }}{% block title %}{% endblock %}</title>
  <link rel="license" hreflang="en" href="/copyright.html" />

  <!-- favicons were once a simple race, but they dug too greedily and too deep... -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=5">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=5">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=5">
  <link rel="manifest" href="/site.webmanifest?v=5">
  <link rel="mask-icon" href="/safari-pinned-tab.svg?v=5" color="#5bbad5">
  <link rel="shortcut icon" href="/favicon.ico?v=5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" type="text/css" href="/theme/css/style.css" />
  {% block extra_headers %}{% endblock %}
</head>
<body>
  <nav>
    <div>
      <ul>
        <li><a href='/'><span class="icon-studyforrest"></span>StudyForrest</a></li>
      {% for title, link in MENUITEMS %}
        {% if page and page.url == link %}{% set link_class = "class='active'" %}{% endif %}
        <li><a href="{{ link }}" {{ link_class }}>{{ title }}</a></li>
      {% endfor %}
      </ul>
      <form action="{{ SITEURL }}/search.html" role="search">
        <input id="tipue_search_input" aria-label="Search" type="search" placeholder="Search" name="q"><button type="submit" aria-label='Search'><span class="icon-search"></span></button>
      </form>
    </div>
  </nav>

  {% block topcontent %}{% endblock %}

  <main>
    <div id='content'>
    {% block content %}{% endblock %}
    </div><!-- /.content -->
  </main>

  <footer>
    <ul class='social-links'>
      <li>
        <a class="icon-github" href='https://github.com/psychoinformatics-de?q=studyforrest' aria-label='StudyForrest @ GitHub'></a>
      </li>
      <li>
        <a class="icon-twitter" href='https://twitter.com/studyforrest' aria-label='StudyForrest @ Twitter'></a>
      </li>
    </ul>

    <p><small>
      content licensed <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">cc-by-sa</a>
      <span class='break'>&mdash;</span> <span class="icon-copyright"></span>2014–2021 {{ AUTHOR }} <span class='break'>&mdash;</span>
      unless <a rel="license" href='/copyright.html'>indicated otherwise</a>
    </small></p>
  </footer>
</body>
</html>
