{% extends "page.html" %}
{% block title %}{% endblock %}

{% block extra_headers %}
  <meta itemprop="name" content="The StudyForrest project">
  <meta itemprop="description" content="The StudyForrest project is an open invitation to everyone — neuroscience researchers, scientific developers, and those in fields beyond neuroscience — to participate in a decentralized effort to explore the opportunities of open science. The dataset centers around the use of the movie Forrest Gump, which provides complex sensory input that is both reproducible and is also richly laden with real-life-like content and contexts. Join those who have utilized and extended the StudyForrest datset.">
  <meta itemprop="image" content="http://studyforrest.org/theme/img/run_forrest_web.jpg">
  <script defer src='/theme/js/index.js'></script>
{% endblock %}

{% block topcontent %}
  <div id="header">
    <h2>The home of a diverse and expansive collection of data and
        studies on our favorite shrimping, cross-country running,
        international ping-pong champion: <br /><em>Forrest Gump</em>
    </h2>
  </div>
{% endblock topcontent %}

{% block content %}
  {{ page.content }}
{% endblock %}
