<footer>
   <div class="container">
      <hr>
      <div class="row">
         {% if articles %}
            {% set copy_date = articles[0].date.strftime('%Y') %}
         {% else %}
            {% set copy_date = '' %}
         {% endif %}
         <div class="col-xs-10">&copy; {{ copy_date }} {{ AUTHOR }}
            &middot; Powered by <a href="http://docs.getpelican.com/" target="_blank">Pelican</a>
            and <a href="http://getbootstrap.com" target="_blank">Bootstrap</a>

            <p><small>
              <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
                <img alt="Creative Commons License" src="/theme/img/cc-by-sa_80x15.png">
              </a>
              Content is licensed <a href="http://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA</a>,
              except where <a rel="license" href='/pages/copyright.html'>indicated otherwise</a>.
            </small></p>
         </div>
         <div class="col-xs-2"><p class="pull-right"><i class="fa fa-arrow-up"></i> <a href="#">Back to top</a></p></div>
      </div>
   </div>
</footer>
