<footer>
  <ul class='footer-links'>
    <li><a aria-label='Study Forrest @ GitHub' href='https://github.com/psychoinformatics-de?query=studyforrest'>
      <span class='fa fa-5x fa-github'></span>
    </a></li>
    <li><a aria-label='Study Forrest @ Twitter' href='https://twitter.com/studyforrest'>
      <span class='fa fa-5x fa-twitter twitter-blue'></span>
    </a></li>
  </ul>

  {% if articles %}
    {% set copy_date = articles[0].date.strftime('%Y') %}
  {% else %}
    {% set copy_date = '' %}
  {% endif %}
  <p><small>
    content licensed <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">cc-by-sa</a>
    &mdash; &copy; {{ copy_date }} {{ AUTHOR }} &mdash;
    unless <a rel="license" href='/pages/copyright.html'>indicated otherwise</a>
  </small></p>
</footer>
