
a.iconlink {
    color: #5a5a5a;
}

a.iconlink:hover,
a.iconlink:focus {
    color: #777;
    text-decoration: none;
}

a.iconlink > div:hover,
a.iconlink > div:focus {
    box-shadow: 1px 1px 5px #888;
}

div.caption > h5 {
    text-align: center;
}

div.thumbnail {
    height: 260px;
}

div.papayaviewer {
    padding-left:5%;
    padding-right:5%;
    padding-bottom:20px;
}

div.papayaviewer > img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

div.xtk_renderer {
    width: 80%;
    height: 0;
    padding-bottom: 60%;
    margin-left: auto;
    margin-right: auto;
}

div.xtk_help {
    text-align: center;
    color: #777;
    display: none;
}

div.dygraph_help {
    text-align: center;
    color: #777;
}

div#footer > div.container > p {
    text-align: center;
}

.ribbon-wrapper-green {
  width: 110px;
  height: 110px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
}

.ribbon-green {
  font: bold 15px Sans-Serif;
  color: #333;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 4px 0;
  left: -25px;
  top: 15px;
  width: 195px;
  background-color: #BFDC7A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45)); 
  background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45); 
  color: #6a6340;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-green:before, .ribbon-green:after {
  content: "";
  border-top:   3px solid #6e8900;   
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon-green:before {
  left: 0;
}
.ribbon-green:after {
  right: 0;
}

div.figure {
  margin-left: 0em;
  margin-right: 0em;
}

div.figure > img {
  margin-top: 1em;
  margin-bottom: 1em;
}

div.figure > div.legend {
  margin-bottom: 10px;
  font-size: small;
}

