body {
  padding-top: 70px;
}

}

 */

}

}



a, a:hover {
  color: inherit;
}

.entry-content a {
  text-decoration: none;
  border-bottom: 1px dotted;
}
.entry-content a:hover {
  text-decoration: none;
  border-bottom: 1px solid;
}

.entry-content img {
  max-width: 100%;
  height: auto;
}

.entry-content figcaption, .caption {
  font-size: small;
  margin-bottom: 2px;
}

.summary img {
  max-width: 100%;
  height: auto;
}


.floatright, .align-right {
  float: right;
}

.floatleft, .align-left {
  float: left;
}

.floatcenter, .align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

figure.floatright, .align-right {
  margin-left: 4px;
}

figure.floatleft, .align-left {
  margin-right: 4px;
}

figure.floatcenter, .align-center {
  margin-bottom: 11px;
}

#categories ul, #tags ul {
  list-style: none;
  padding: 0;
  margin-left: 0;
}

.docutils.footnote td.label {
  display: table-cell;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  text-align: inherit;
  white-space: inherit;
  border-radius: inherit;
}

.categories-timestamp {
  color: #AAA;
  font-size: 0.9em;
  margin-right: 10px;
}
div.caption > h5 {
  text-align: center;
}

div.thumbnail {
  height: 260px;
}

div.papayaviewer {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 20px;
}

div.papayaviewer > img {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

div.xtk_renderer {
  width: 80%;
  height: 0;
  padding-bottom: 60%;
  margin-left: auto;
  margin-right: auto;
}

div.xtk_help {
  text-align: center;
  color: #777;
  display: none;
}

div.dygraph_help {
  text-align: center;
  color: #777;
}

div.figure {
  margin-left: 0;
  margin-right: 0;
}

div.figure > img {
  margin-top: 1em;
  margin-bottom: 1em;
}

div.figure > div.legend {
  margin-bottom: 10px;
  font-size: small;
}

/*
 *  Tipue Search
 */
.navbar-search { /* .navbar-search values are copied from other BS nav items */
  margin: 0 15px;
  width: 200px;
}
@media (min-width: 768px) {
  .navbar-search {
    margin: 7.5px 0;
  }
}

#tipue_search_input {
  font: 13px/1.6 'open sans', sans-serif;
  border-radius: 0;
}

#tipue_search_foot_boxes li a {
  cursor: pointer;
}
