body {
  padding-top: 70px;
}

/* for list-groups nested within a list-group-item, reset the bottom margin */
.list-group-item > .list-group {
  margin-bottom: 0;
}

/* for list-group-items nested within a list-group-item, reset the bottom
   padding of the last item, b/c the containing item has padding already
 */
.list-group-item .list-group-item:last-child {
  padding-bottom: 0;
}

.list-group-item {
  border: none;
}

.tag-0 {
  font-size: 16pt;
}

.tag-1 {
  font-size: 13pt;
}

.tag-2 {
  font-size: 10pt;
}

.tag-3 {
  font-size: 8pt;
}

.tag-4 {
  font-size: 6pt;
}

.icon-label {
  margin-left: 10px;
}

a, a:hover {
  color: inherit;
}

.entry-content a {
  text-decoration: none;
  border-bottom: 1px dotted;
}

.entry-content a:hover {
  text-decoration: none;
  border-bottom: 1px solid;
}

.entry-content img {
  max-width: 100%;
  height: auto;
}

.entry-content figcaption, .caption {
  font-size: small;
  margin-bottom: 2px;
}

.summary img {
  max-width: 100%;
  height: auto;
}


.floatright, .align-right {
  float: right;
}

.floatleft, .align-left {
  float: left;
}

.floatcenter, .align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

figure.floatright, .align-right {
  margin-left: 4px;
}

figure.floatleft, .align-left {
  margin-right: 4px;
}

figure.floatcenter, .align-center {
  margin-bottom: 11px;
}

.highlighttable pre {
  /* Removes bootstrap default margin-bottom */
  margin-bottom: 0;
}

.highlighttable {
  /* Adds them margin-bottom to highlightable instead of <pre> */
  margin-bottom: 11px;
}

.highlighttable {
  width: 100%;
}

#categories ul, #tags ul {
  list-style: none;
  padding: 0;
  margin-left: 0;
}

.docutils.footnote td.label {
  display: table-cell;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  text-align: inherit;
  white-space: inherit;
  border-radius: inherit;
}

.categories-timestamp {
  color: #AAA;
  font-size: 0.9em;
  margin-right: 10px;
}

.tagcloud li {
  padding: 0;
}


a.iconlink {
  color: #5a5a5a;
}

a.iconlink:hover,
a.iconlink:focus {
  color: #777;
  text-decoration: none;
}

a.iconlink > div:hover,
a.iconlink > div:focus {
  box-shadow: 1px 1px 5px #888;
}

div.caption > h5 {
  text-align: center;
}

div.thumbnail {
  height: 260px;
}

div.papayaviewer {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 20px;
}

div.papayaviewer > img {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

div.xtk_renderer {
  width: 80%;
  height: 0;
  padding-bottom: 60%;
  margin-left: auto;
  margin-right: auto;
}

div.xtk_help {
  text-align: center;
  color: #777;
  display: none;
}

div.dygraph_help {
  text-align: center;
  color: #777;
}

div.figure {
  margin-left: 0;
  margin-right: 0;
}

div.figure > img {
  margin-top: 1em;
  margin-bottom: 1em;
}

div.figure > div.legend {
  margin-bottom: 10px;
  font-size: small;
}
