/*
 *  Fonts
 */
@font-face { /* License: OFL 1.1 */
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'),
       url('/theme/fonts/raleway-v10-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+ */
       url('/theme/fonts/raleway-v10-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face { /* License: OFL 1.1 */
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 400;
  src: local('Raleway Italic'), local('Raleway-Italic'),
       url('/theme/fonts/raleway-v10-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+ */
       url('/theme/fonts/raleway-v10-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face { /* License: Apache 2.0 */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'),
       url('/theme/fonts/open-sans-v13-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+ */
       url('/theme/fonts/open-sans-v13-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face { /* License: Apache 2.0 */
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'),
       url('/theme/fonts/open-sans-v13-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+ */
       url('/theme/fonts/open-sans-v13-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face { /* License: Apache 2.0 */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
       url('/theme/fonts/open-sans-v13-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+ */
       url('/theme/fonts/open-sans-v13-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face { /* License: Apache 2.0 */
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'),
       url('/theme/fonts/open-sans-v13-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+ */
       url('/theme/fonts/open-sans-v13-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'fontello';
  src: url('/theme/fonts/fontello.woff2?64430986') format('woff2'),
       url('/theme/fonts/fontello.woff?64430986') format('woff');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-world:before { content: '\e800'; }
.icon-beaker:before { content: '\e801'; }
.icon-down-dir:before { content: '\e802'; }
.icon-brain:before { content: '\e803'; }
.icon-up-dir:before { content: '\e804'; }
.icon-search:before { content: '\e80d'; }
.icon-twitter:before { content: '\f099'; }
.icon-github:before { content: '\f09b'; }

/*
 * Element Overrides
 */

/* Link rules from http://mrmrs.io/links/ - MIT License */
a {
  color: #265C83;
  transition: color .4s;
  text-decoration: none;
}
a:link, a:visited { color: #265C83; }
a:hover { color: #5FBBDF; }
a:active {
  color: #007BE6;
  transition: color .3s;
}

a.btn { color: #fff; }
a.btn-default { color: inherit; }

blockquote {
  background: #f9f9f9;
  border: 1px solid #f0f0f0;
  border-left: 10px solid #ccc;
  margin: 1.5em 0;
  padding: 0.5em 0.95em;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote::before {
  color: #ccc;
  content: open-quote;
  font-size: 5em;
  line-height: 0em;
  margin-right: 0.5rem;;
  vertical-align: -2.5rem;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  margin: 0;
  min-height: 100vh;
}

h1, h2, h3, h4, h5 {
  font-family: 'Raleway', serif;
  font-weight: normal;
  line-height: 1.1;
}

main {
  display: block; /* IE9->11 "support" HTML5 and arbitrary tags, and yet fail on <main>. Classic. */
  flex: 1;
  line-height: 26px;
  max-width: 1200px;
  margin: 0 auto;
}

nav {
  background: #f8f8f8;
  border-bottom: 1px solid #ddd;
  color: #e7e7e7;
  font-size: 15px;
  padding: 1.3rem 0;
  position: sticky;
  -webkit-position: sticky;
  top: 0;
  width: 100%;
}
nav > div {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
}
nav ul { padding: 0; }
nav li:first-child {
  font-size: 18px;
}
nav li a:link, nav li a:visited {
  color: #777;
  border-bottom: 1px solid transparent;
  padding: 0;
}
@media screen and (min-width: 768px) {
  nav { padding: 0.5rem 0; }
  nav ul { margin: 0.5em 0; }
  nav li { display: inline-block; }
  nav li a {
    margin: 0.8em 1.1em;
    padding: 0 0.3em;
    transition: color 0.35s, border-color 0.35s;
  }
  nav li a:hover {
    border-color: #aaa;
    color: #333;
  }
}

nav form {
  align-items: center;
  display: flex;
}
nav form input {
  border: 1px solid #ccc;
  border-right: 0;
  font: 13px 'Open Sans', sans-serif;
  height: 2.5em;
  padding: 0.2em 1em;
}
nav form button {
  border: 1px solid #ccc;
  background: #f5f5f5;
  cursor: pointer;
  font-size: 13px;
  height: 2.5em;
  padding: 0.2em 0.5em;
}

table {
  border-collapse: collapse;
  width: 100%;
}
thead {
  cursor: default;
  user-select: none;
  text-align: left;
  vertical-align: bottom;
}
thead > tr { border-bottom: 2px solid #ddd; }
tbody { vertical-align: top; }
tbody > tr { border-top: 1px solid #ddd; }
tbody > tr:nth-of-type(odd) { background-color: #f9f9f9; }
td, th { padding: 0.5em 0.7em; }

/*
 *  State
 */
nav li a.active { border-bottom: 2px solid #aaa; }

th[data-sort]:after {
  font-family: "fontello";
  margin-left: 0.2em;
}
th[data-sort="asc"]:after { content: '\e804'; }
th[data-sort="desc"]:after { content: '\e802'; }


/*
 *  Styling
 */
.card-solo {
  max-width: 50em;
  margin: 0 auto;
}
.card-tri {
  display: flex;
  justify-content: space-between;
}
.card-tri > div { width: 30%; }
.card-tri h3 { font-size: 1.6em; }
.card-tri [class^="icon-"] {
  font-size: 8em;
  line-height: 1em;
}

.index-content {
  text-align: center;
}

.docutils.footnote td.label {
  border-radius: inherit;
  color: inherit;
  display: table-cell;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  text-align: inherit;
  white-space: inherit;
}

.entry-content img {
  height: auto;
  max-width: 100%;
}
.entry-content figcaption, .caption {
  font-size: small;
  margin-bottom: 2px;
}

.floatright, .align-right { float: right; }
.floatleft, .align-left { float: left; }
.floatcenter, .align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
figure.floatright, .align-right { margin-left: 4px; }
figure.floatleft, .align-left { margin-right: 4px; }
figure.floatcenter, .align-center { margin-bottom: 11px; }

footer {
  background-color: #f8f8f8;
  border-top: 1px solid #e7e7e7;
  margin-top: 2em;
  text-align: center;
}
footer ul.social-links {
  margin: 0;
  padding: 0;
}
footer .social-links li {
  display: inline-block;
  padding: 0 1rem;
}
footer .social-links a {
  border-color: transparent;
  display: inline-block;
  font-size: 8em;
  transition: transform 0.2s linear;
}
.social-links .icon-github  { color: #111010; }
.social-links .icon-twitter { color: #4da7de; }

footer .social-links a:hover { transform: translateY(-0.3rem); }
footer p {
  border-top: 1px solid #ddd;
  color: #666;
  margin: 0;
  padding: 0.5em 1em;
}
footer p a { color: #666; }
footer span.break { display: block; }
@media screen and (min-width: 768px) {
  footer span.break { display: inline; }
}
.summary img {
  height: auto;
  max-width: 100%;
}

/* Papaya */
div.papaya-preview { padding: 0 8px 20px 8px; }
div.papaya-preview > img { width: 100%; }

/* XTK */
div.xtk_renderer {
  height: 0;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 60%;
  width: 80%;
}

div.xtk_help {
  color: #777;
  display: none;
  text-align: center;
}

/* Dygraph */
div.dygraph_help {
  color: #777;
  text-align: center;
}

div.figure {
  margin-left: 0;
  margin-right: 0;
}

div.figure > img {
  margin-top: 1em;
  margin-bottom: 1em;
}

div.figure > div.legend {
  margin-bottom: 10px;
  font-size: small;
}

/* Resources Page Specific */
.resource-col > .thumbnail {
  border: 0;
  border-radius: 0;
  border-bottom: 1px dotted #ddd;
}
.resource-col > .thumbnail:last-child { border-bottom: 0; }

@media (min-width: 768px) {
  .resource-col.middle {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }
}

.resource-col h3, .resource-col h5 { text-align: center; }

.resource-col .caption > a.btn,
.resource-col .caption > button {
  width: 100%;
  margin-bottom: .3em;
}


/* About page */
.split-container {
  display: flex;
  justify-content: space-between;
}
.split-main { width: 60%; }
.split-sidebar { width: 35%; }
.split-sidebar img { padding: 0.5em 0; }
.split-sidebar ul { padding: 0; }
.split-sidebar li { list-style: none; }


/*
 *  Tipue Search
 */
.navbar-search { /* .navbar-search values are copied from other BS nav items */
  margin: 0 15px;
  width: 200px;
}
@media (min-width: 768px) {
  .navbar-search { margin: 7.5px 0; }
}

#tipue_search_foot_boxes li a { cursor: pointer; }

/* Index */

#header {
  align-items: center;
  display: flex;
  justify-content: center;
  background-image: url(/theme/img/run_forrest_web.jpg);
  background-position: center 35%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 60vh;
  text-align: center;
}
#header h2 {
  color: #fff;
  font-size: 35px;
  font-weight: bold;
  line-height: 1.3;
  margin: 0;
  max-width: 60%;
  text-shadow: 0px 0px 25px #000;
}
@media(max-width:767px){ #header h2 { font-size: 1.5em; } }
@media(max-width:992px){ #header h2 { max-width: 90%; } }

main h2 {
  font-size: 42px;
  margin: 35px 0 20px 0;
}
main svg {
  margin-top: 10px;
  max-height: 10rem;
}
