/*
 *  Fonts
 */
@font-face { /* License: OFL 1.1 */
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'),
       url('/theme/fonts/raleway-v10-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+ */
       url('/theme/fonts/raleway-v10-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face { /* License: OFL 1.1 */
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 400;
  src: local('Raleway Italic'), local('Raleway-Italic'),
       url('/theme/fonts/raleway-v10-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+ */
       url('/theme/fonts/raleway-v10-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face { /* License: Apache 2.0 */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'),
       url('/theme/fonts/open-sans-v13-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+ */
       url('/theme/fonts/open-sans-v13-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face { /* License: Apache 2.0 */
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'),
       url('/theme/fonts/open-sans-v13-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+ */
       url('/theme/fonts/open-sans-v13-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face { /* License: Apache 2.0 */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
       url('/theme/fonts/open-sans-v13-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+ */
       url('/theme/fonts/open-sans-v13-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face { /* License: Apache 2.0 */
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'),
       url('/theme/fonts/open-sans-v13-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+ */
       url('/theme/fonts/open-sans-v13-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/*
 * Element Overrides
 */

/* Link rules from http://mrmrs.io/links/ - MIT License */
a {
  color: #265C83;
  transition: color .4s;
}
a:link, a:visited { color: #265C83; }
a:hover { color: #5FBBDF; }
a:active {
  color: #007BE6;
  transition: color .3s;
}

a.btn { color: #fff; }
a.btn-default { color: inherit; }

body {
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  margin: 0;
  min-height: 100vh;
}

h1, h2, h3, h4, h5 { font-family: 'Raleway', serif; }

main {
  display: block; /* IE9->11 "support" HTML5 and arbitrary tags, and yet fail on <main>. Classic. */
  flex: 1;
  line-height: 26px;
}

nav {
  background: #f8f8f8;
  border-bottom: 1px solid #ddd;
  color: #e7e7e7;
  align-items: center;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  padding: 1.3rem 0;
}
nav li:first-child {
  font-size: 18px;
}
nav li a:link, nav li a:visited {
  color: #777;
  border-bottom: 1px solid transparent;
  padding: 0;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  nav { padding: 0.5rem 20rem; }
  nav ul { margin: 0.5em 0; }
  nav li { display: inline-block; }
  nav li a {
    margin: 0.8em 1.1em;
    padding: 0 0.3em;
    transition: color 0.35s, border-color 0.35s;
  }
  nav li a:hover {
    border-color: #aaa;
    color: #333;
  }
}

nav form input {
  border: 1px solid #ccc;
  border-right: 0;
  font: 13px/1.6 'Open Sans', sans-serif;
  height: 2.5em;
  padding: 0.2em 1em;
}
nav form button {
  border: 1px solid #ccc;
  background: #f5f5f5;
  height: 2.5em;
}

/*
 *  State
 */
nav li a.active {
  border-bottom: 2px solid #aaa;
}


/*
 *  Styling
 */
.docutils.footnote td.label {
  border-radius: inherit;
  color: inherit;
  display: table-cell;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  text-align: inherit;
  white-space: inherit;
}

.entry-content img {
  height: auto;
  max-width: 100%;
}
.entry-content figcaption, .caption {
  font-size: small;
  margin-bottom: 2px;
}

.floatright, .align-right { float: right; }
.floatleft, .align-left { float: left; }
.floatcenter, .align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
figure.floatright, .align-right { margin-left: 4px; }
figure.floatleft, .align-left { margin-right: 4px; }
figure.floatcenter, .align-center { margin-bottom: 11px; }

footer {
  background-color: #f8f8f8;
  border-top: 1px solid #e7e7e7;
  margin-top: 2em;
  padding: 1.5em 0 1em 0;
  text-align: center;
}
footer p {
  color: #777;
  margin: 0;
}
footer svg { height: 8rem; }

.footer-links { padding: 0; }
.footer-links li {
  display: inline;
  padding: 0 2rem;
}

.summary img {
  height: auto;
  max-width: 100%;
}

/* Papaya */
div.papaya-preview { padding: 0 8px 20px 8px; }
div.papaya-preview > img { width: 100%; }

/* XTK */
div.xtk_renderer {
  height: 0;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 60%;
  width: 80%;
}

div.xtk_help {
  color: #777;
  display: none;
  text-align: center;
}

/* Dygraph */
div.dygraph_help {
  color: #777;
  text-align: center;
}

div.figure {
  margin-left: 0;
  margin-right: 0;
}

div.figure > img {
  margin-top: 1em;
  margin-bottom: 1em;
}

div.figure > div.legend {
  margin-bottom: 10px;
  font-size: small;
}

/* Resources Page Specific */
.resource-col > .thumbnail {
  border: 0;
  border-radius: 0;
  border-bottom: 1px dotted #ddd;
}
.resource-col > .thumbnail:last-child { border-bottom: 0; }

@media (min-width: 768px) {
  .resource-col.middle {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }
}

.resource-col h3, .resource-col h5 { text-align: center; }

.resource-col .caption > a.btn,
.resource-col .caption > button {
  width: 100%;
  margin-bottom: .3em;
}


/* Sidebar logos (About and access pages) */
.sidebar-logos img { padding: 7px 0; }


/*
 *  Tipue Search
 */
.navbar-search { /* .navbar-search values are copied from other BS nav items */
  margin: 0 15px;
  width: 200px;
}
@media (min-width: 768px) {
  .navbar-search { margin: 7.5px 0; }
}

#tipue_search_foot_boxes li a { cursor: pointer; }
