/*
 *  Fonts
 */
@font-face { /* License: Open Font License */
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('/theme/fonts/cormorant-garamond-v10-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/theme/fonts/cormorant-garamond-v10-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face { /* License: Open Font License */
  font-family: 'Cormorant Garamond';
  font-style: italic;
  font-weight: 400;
  src: local(''),
       url('/theme/fonts/cormorant-garamond-v10-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/theme/fonts/cormorant-garamond-v10-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face { /* License: Apache 2.0 */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'),
       url('/theme/fonts/open-sans-v18-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+ */
       url('/theme/fonts/open-sans-v18-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face { /* License: Apache 2.0 */
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'),
       url('/theme/fonts/open-sans-v18-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+ */
       url('/theme/fonts/open-sans-v18-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face { /* License: Apache 2.0 */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
       url('/theme/fonts/open-sans-v18-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+ */
       url('/theme/fonts/open-sans-v18-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face { /* License: Apache 2.0 */
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'),
       url('/theme/fonts/open-sans-v18-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+ */
       url('/theme/fonts/open-sans-v18-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


@font-face {
  font-family: 'fontello';
  src: url('/theme/fonts/fontello.woff2?64430986') format('woff2'),
       url('/theme/fonts/fontello.woff?64430986') format('woff');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-ok:before { content: '\2713'; }
.icon-world:before { content: '\e800'; }
.icon-beaker:before { content: '\e801'; }
.icon-down-dir:before { content: '\e802'; }
.icon-brain:before { content: '\e803'; }
.icon-up-dir:before { content: '\e804'; }
.icon-studyforrest:before { content: '\e806'; }
.icon-flashlight:before { content: '\e807'; }
.icon-tags:before { content: '\e808'; }
.icon-search:before { content: '\e80d'; }
.icon-twitter:before { content: '\f099'; }
.icon-github:before { content: '\f09b'; }
.icon-filter:before { content: '\f0b0'; }
.icon-doc-text:before { content: '\f0f6'; }

/*
 * Element Overrides
 */
a {
  color: #0071c5;
  transition: color .4s;
  text-decoration: none;
}
a:visited { color: #0071c5; }
a:hover   { color: #003c71; }
a:active  { color: #007BE6; }

blockquote {
  background: #f4f4f4;
  border: 1px solid #ddd;
  border-left: 6px solid #0071c5;
  margin: 1.5em 0;
  padding: 0.5em 1em;
  quotes: "\201C""""\2018""\2019";
  box-shadow: 0 12px 18px -12px rgba(0, 0, 0, .2);
}
blockquote::before {
  color: #ccc;
  content: open-quote;
  font-size: 5em;
  line-height: 0;
  margin-right: 0.5rem;;
  vertical-align: -2.5rem;
}
blockquote::after {
  content: close-quote;
}

body {
  color: #111;
  background: #fafafa;
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin: 0;
  min-height: 100vh;
}
@media (min-width: 640px) {
  body { font-size: 18px; }
}

form input, form button {
  outline-color: #0071c5;
}
form input[type=text], form input[type=search] {
  border: 1px solid #ccc;
  box-sizing: border-box;
  caret-color: #0071c5;
  font: 13px 'Open Sans', sans-serif;
  height: 2.5em;
  margin: 0.5em 0;
  max-width: calc(100% - 2.5em);
  padding: 0.2em 1em;
  vertical-align: bottom;
  width: 25em;
}
form button, form input[type=reset] {
  border: 1px solid #ccc;
  background: #f5f5f5;
  cursor: pointer;
  font-size: 13px;
  height: 2.5em;
  margin: 0.5em 0;
  padding: 0.2em 0.5em;
  vertical-align: bottom;
}
form button {
  border-left: 0;
}

h1, h2, h3, h4, h5 {
  font-family: 'Cormorant Garamond', serif;
  font-weight: normal;
  line-height: 2;
  margin: 0.3em 0;
}
h1 { font-size: 2.2em; }
h2 { font-size: 2.0em; }
h3 { font-size: 1.6em; }
@media screen and (min-width: 768px) {
  h1 { font-size: 2.9em; }
  h2 { font-size: 2.5em; }
  h3 { font-size: 1.9em; }
}

iframe { border: 1px solid #ddd; }

main {
  border-bottom: 0;
  border-top: 0;
  display: block; /* IE9->11 "support" HTML5 and arbitrary tags, and yet fail on <main>. Classic. */
  flex: 1;
  line-height: 2;
  max-width: calc(100vw);
}
main #content {
  margin: 1em auto;
  padding: 0 2em;
}
@media screen and (min-width: 768px) {
  main #content {
    margin: 2em auto;
    padding: 0 4em;
    max-width: calc(1200px - 8em);
  }
}

nav {
  background: #f8f8f8;
  border-bottom: 1px solid #ddd;
  color: #e7e7e7;
  font-size: 15px;
  padding: 0 2em;
  text-align: center;
}
nav h1 {
  font-size: 25px;
  font-weight: bold;
  line-height: 1;
  margin: 1em 0 0 0;
}
nav h1 .icon-studyforrest:before {
  margin: 0;
  text-align: left;
}
nav ul {
  padding: 0;
}
nav li {
  list-style-type: none;
  margin: 0.3em 0;
}
nav li a, nav li a:visited {
  color: #777;
  border-bottom: 2px solid transparent;
  padding: 0 0.3em;
}
nav form {
  border-top: 1px solid #bbb;
  padding: 1em 0;
}
nav form input[type=search] {
  color: #666;
  line-height: 1.7;
  padding: 0.2em 0.5em;
  width: calc(100% - 2.4em - 2px);
}
@media screen and (min-width: 470px) {
  nav { text-align: left; }
  nav h1 {
    display: inline-block;
    margin: 1em 1em 0 0;
  }
  nav ul {
    display: inline-block;
    margin: 0.5em 0 1em 0;
  }
  nav li { display: inline-block; }
  nav li a {
    margin: 0.8em 0.7em;
    transition: color 0.4s, border-color 0.4s;
  }
  nav li:first-child a { margin-left: 0; }
  nav li:last-child a { margin-right: 0; }
  nav li a:hover {
    border-color: #aaa;
    color: #555;
  }
}
@media screen and (min-width: 820px) {
  nav > div {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: calc(1200px - 10em);
  }
  nav h1 { margin: 0.8em 1em 0 0; }
  nav form  {
    border-top: 0;
    margin-left: 1em;
  }
}

pre, code {
  font-family: 'Inconsolata', monospace;
}
pre {
  background: #f4f4f4;
  border: 1px solid #ddd;
  border-left: 3px solid #0071c5;
  box-shadow: 0 12px 18px -12px rgba(0, 0, 0, .2);
  color: #333;
  font-family: monospace;
  line-height: 1.6;
  margin: 0.2em 0 1.6em 0;
  max-width: 100%;
  overflow-x: auto;
  padding: 1em 1.5em;
  page-break-inside: avoid;
  word-wrap: break-word;
}
code {
  background: #eee;
  padding: 0.15em 0.3em;
}
pre > code {
  background: inherit;
  padding: 0;
}

table {
  border-collapse: collapse;
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  width: 100%;
}
thead {
  text-align: left;
  vertical-align: bottom;
}
#sort-me thead {
  /* SVG from Font Awesome; SIL OFL 1.1 */
  cursor: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 1792 1792' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1408 1088q0 26-19 45l-448 448q-19 19-45 19t-45-19l-448-448q-19-19-19-45t19-45 45-19h896q26 0 45 19t19 45zm0-384q0 26-19 45t-45 19h-896q-26 0-45-19t-19-45 19-45l448-448q19-19 45-19t45 19l448 448q19 19 19 45z'/%3E%3C/svg%3E%0A") 16 16, pointer;
  user-select: none;
}
thead > tr { border-bottom: 2px solid #ddd; }
tbody { vertical-align: top; }
tbody > tr { border-top: 1px solid #ddd; }
tbody > tr > th { font-weight: normal; }
th[scope="rowgroup"] { font-weight: bold; }
tbody > tr:nth-of-type(odd) { background-color: #f9f9f9; }
td, th {
  padding: 0.5em 0.7em;
  text-align: left;
}

/*
 *  State
 */
nav li a.active { border-bottom: 2px solid #aaa; }

th[data-sort]:after {
  font-family: "fontello";
  margin-left: 0.2em;
}
th[data-sort="asc"]:after { content: '\e804'; }
th[data-sort="desc"]:after { content: '\e802'; }


/*
 *  Styling
 */
.card-solo {
  max-width: 50em;
  margin: 2em auto 3em auto;
}
.card-tri [class^="icon-"] {
  font-size: 8em;
  line-height: 1;
}
@media (min-width: 768px) {
  .card-tri {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3em;
  }
  .card-tri > div { width: 30%; }
  .card-tri h3 { font-size: 1.6em; }
}

.data-category-count {
  line-height: 1;
}
.data-category-count:empty {
  display: none;
}
.card-data {
  border: 1px solid #eee;
  box-shadow: 0 12px 18px -12px rgba(0, 0, 0, .2);
  margin: 1em 0;
}
.card-data:first-of-type {
  border-bottom-width: 2px;
}
.card-data:last-of-type {
  border-bottom-width: 2px;
}
.card-data .thumbnail {
  margin: 1em;
}
.card-data .thumbnail img {
  border: 1px solid #eee;
  display: block;
  max-width: 100%;
}
.card-data .description {
  margin: 0 1em;
}
.card-data h3 {
  font-size: 1.6em;
  line-height: 1.3;
  margin-top: calc(1em / 1.6);
}
.card-data p.info {
  border-bottom: 2px solid #ddd;
  line-height: 1.3;
  padding: 0 0 1em 0;
}
.card-data p.info [class^="icon-"]:first-child:before {
  margin-left: 0;
}
@media (min-width: 550px) {
  .card-data {
    display: flex;
    justify-content: space-between;
  }
  .card-data .thumbnail {
    display: initial;
    flex-basis: calc(20% - 1.5em);
  }
  .card-data .description {
    flex-basis: calc(80% - 1.5em);
  }
}

footer {
  background-color: #f8f8f8;
  border-top: 1px solid #e7e7e7;
  font-size: 0.9em;
  padding: 1em;
  text-align: center;
}
@media (min-width: 550px) {
  footer > div {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
  }
  footer .left {
    text-align: left;
    flex-basis: calc(40% - 2em);
  }
  footer .center {
    text-align: center;
    flex-basis: calc(20% - 2em);
  }
  footer .right {
    text-align: right;
    flex-basis: calc(40% - 2em);
  }
}
footer > div > div {
  margin: 0.5em;
}
footer .icon-studyforrest {
  font-size: 5.5em;
}
footer ul.social-links {
  line-height: 1;
  margin: 0.7em 0.5em;
  padding: 0;
}
footer .social-links li {
  display: inline-block;
}
footer .social-links a {
  display: inline-block;
  font-size: 2em;
  transition: transform 0.2s linear;
}
.social-links .icon-github  { color: #111010; }
.social-links .icon-twitter { color: #4da7de; }

footer p {
  margin: 0.7em 1em;
}
footer p a { color: #666; }


/* XTK */
#xtk_renderer {
  height: 0;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 60%;
  width: 80%;
}

#xtk_help {
  color: #777;
  text-align: center;
}


/* About Page */
.thanks-logos {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.thanks-logos a {
  box-shadow: none;
  margin: 1.5em 0.5em;
  flex-basis: calc(100% - 3em);
}
.thanks-logos img {
  display: block;
  max-height: 9em;
  max-width: 100%;
}
@media (min-width: 550px) {
  .thanks-logos a {
    flex-basis: calc((100% / 2) - 3em);
  }
}
@media (min-width: 1024px) {
  .thanks-logos a {
    flex-basis: calc((100% / 3) - 3em);
  }
}


/* Data Page */
.participant-summary td {
  font-family: "fontello";
}


/* Explore Page */
img.explore-parcellation {
  width: 100%;
}

#nv_picker {
  line-height: 1.3;
}
#nv_picker p {
  padding-left: 1.5em;
  text-indent: -1.5em;
}
#nv_viewers iframe {
  display: none;
  height: 600px;
  width: 100%;
}
#nv_viewers iframe:empty {
  background: url('/theme/img/loading.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20em;
}
#nv_viewers iframe[data-show=true] {
  display: initial;
}

/* Search Results */
.tipue_search_content_bold { font-weight: bold; }
.tipue_search_content_title { margin-top: 1em; }
.tipue_search_content_text { border-bottom: 1px solid #eee; }


/* Index */
#header {
  align-items: center;
  display: flex;
  justify-content: center;
  background-image: url(/theme/img/run_forrest_web.jpg);
  background-position: center 35%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 60vh;
  text-align: center;
}
#header h2 {
  color: #fff;
  font-size: 2.2em;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.3;
  margin: 0.5em;
  max-width: 60%;
  text-shadow: 0 0 25px #000;
}
@media(max-width:767px){ #header h2 { font-size: 1.5em; } }
@media(max-width:992px){ #header h2 { max-width: 90%; } }
#header h2 > em {
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.3em;
  font-weight: bold;
}

.index-content {
  text-align: center;
}
.index-content h2 {
  margin: 1em 0 0.5em 0;
}
