a.iconlink {
    color: #5a5a5a;
}

a.iconlink:hover,
a.iconlink:focus {
    color: #777;
    text-decoration: none;
}

a.iconlink > div:hover,
a.iconlink > div:focus {
    box-shadow: 1px 1px 5px #888;
}

div.caption > h5 {
    text-align: center;
}

div.thumbnail {
    height: 260px;
}

div.papayaviewer {
    padding-left:5%;
    padding-right:5%;
    padding-bottom:20px;
}

div.papayaviewer > img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

div.xtk_renderer {
    width: 80%;
    height: 0;
    padding-bottom: 60%;
    margin-left: auto;
    margin-right: auto;
}

div.xtk_help {
    text-align: center;
    color: #777;
    display: none;
}

div.dygraph_help {
    text-align: center;
    color: #777;
}

div#footer > div.container > p {
    text-align: center;
}

