iframe.twitter-timeline {
    border-bottom: 1px dotted #aaa;
    margin-left: 1%;
    width: 99%;
}

div.tweet {
    border-bottom: 1px dotted #aaa;
    margin-left: 2em;
}

/* force timeline widget to 100% width */
iframe[id^='twitter-widget-1']{ width:100% !important;}
